<div class="profdiv1">
    <h1>PLEASE SUPPLY US WITH A BIT MORE INFO ON YOU</h1>

</div>

<div class="profdiv">
    <form method="post">
        <input class="input" type="text" name="age" placeholder="age">
        <input class="input" type="text" name="city" placeholder="city">
        <input  class="input" type="text" name="homepage" placeholder="homepage">
        <button  class="button" type="submit" name="button">CONTINUE</button>

    </form>

</div>
