<h1>PLEASE SUPPLY US WITH A BIT MORE INFO ON YOU</h1>
<div class="profdiv1">
    <img id="image5"src="image5.png" alt="">
</div>

<div class="profdiv">
    <form method="post">
        <input class="input" type="text" name="age" placeholder="age">
        <input class="input" type="text" name="city" placeholder="city">
        <input  class="input" type="text" name="homepage" placeholder="homepage">
        <button  id="cbutton"class="button" type="submit" name="button">CONTINUE</button>

    </form>

</div>
