<div class="regtop">
    <h1 id="Regheader">PLEASE REGISTER HERE AND BE PART OF THE REVOLUTION TO REDUCE FOOD WAISTAGE!</h1>
    <img id="regimage"src="image2.png" alt="bowlimage">
</div>

<div class="register">


  <form class="regform" method="post">
     <input class="input"type="text" name="firstname" placeholder="firstname">
     <input class="input"type="text" name="lastname" placeholder="lastname">
     <input  class="input"type="text" name="email" placeholder="email">
     <input class="input"type="text" name="password" placeholder="password">
     <button id="Rbutton"class="button"type="submit">SUBMIT</button>
     <input name="_csrf" value="{{csrfToken}}" type="hidden">
</form>
  {{#if error}} <p>There was an error</p>{{/if}}



</div>
