<div class="container">
  <div class="container-fluid">
    <h1 id="Regheader">PLEASE REGISTER HERE AND BE PART OF THE REVOLUTION TO REDUCE FOOD WASTAGE!</h1>
  </div>
  <div class=" jumbotron ">
    <div class="row ">
      <div class="d-flex justify-content-between ">
        <div class="col-md-5  border border-rounded">
            <h3>WORLD HUNGER FACTS</h3>
                <ol>
                    <li>1 out 10 people around the world experience chronic hunger.</li>
                    <li>98% of the world's undernourished people live in developing countries.</li>
                    <li>767 people live under $1.90 a day.</li>
                    <li>3 million of all deaths in children under age 5 are attributed to undernutrion.</li>
                    <li>1 of 6 infants are born with a low birth weight.</li>
                </ol>

        </div>
        <div class=" col-md-5 border border-rounded ">
            <h3>FOOD WASTAGE FACTS</h3>
            <ol>
                <li>3 billion tonnes of food are wasted each year.</li>
                <li>$1 trillion of annual loss is due to food wastage.</li>
                <li>$3.3 billion tonnes of carbon dioxide is created by wasted food.</li>
                <li>1/4 of all wasted food could feed 795 million of all undernourished people.</li>
            </ol>

        </div>

      </div>


    </div>



  </div>
  <div class="row">

    <img class="col-md-12" id="regimage"src="image2.png" alt="bowlimage">

  </div>

<div class="container-fluid">
  <div class="register">


    <form class="regform" method="post">
       <input class="input"type="text" name="firstname" placeholder="firstname">
       <input class="input"type="text" name="lastname" placeholder="lastname">
       <input  class="input"type="text" name="email" placeholder="email">
       <input class="input"type="text" name="password" placeholder="password">
       <button class="button ml-3"type="submit">REGISTER</button>
       <input name="_csrf" value="{{csrfToken}}" type="hidden">
  </form>
  <div class="row">
    {{#if error}} <p>There was an error</p>{{/if}}

  </div>



  </div>

</div>


</div>
