
<h1>SIGN PETTION TO SAVE A LIFE BY REDUCING FOOD WAISTAGE!</h1>
<div class="topdiv">
    <img id="image1"src="image1.png">
</div>

<div class="maindiv">
    <form method="post">
      <input type="hidden" name="signature" placeholder="signature">
      <p id="signtext">PLEASE SIGN HERE</p>
      <canvas id="canvas"name="canvas" width="200" height="100"></canvas>
      <button id="Sbutton"class="button"type="submit" name="button">SUBMIT</button>

    {{#if error}} There was an error{{/if}}

    </form>

</div>
