<div class="topdiv">
    <h1>WELCOME, PETTION TO SAVE A LIFE BY REDUCING FOOD WAISTAGE!</h1>
    <img id="image1"src="image.png">

</div>

<div class="maindiv">
    <form method="post">
      <input  class="input"name="firstname" placeholder="firstname">
      <input  class="input"name="lastname" placeholder="lastname">
      <input type="hidden" name="signature" placeholder="signature">
      <canvas id="canvas"name="canvas" width="200" height="100"></canvas>
      <button id="Sbutton"class="button"type="submit" name="button">SUBMIT</button>

    {{#if error}} There was an error{{/if}}

    </form>

</div>
