<h1>THANX, YOU HAVE JUST SAVED A LIFE!</h1>
<div class="thanksdiv1">
  <img id="thanksimage"src="image3.png">
</div>

<div class="sigdiv">
    <img src="{{ signature }}" alt="signature" id="signature">
     <input name="_csrf" value="{{csrfToken}}" type="hidden"> <!-- security feature -->
</div>

<div class="thanksdiv3">
    <a href="/listOfPeople"><p id="thanks-text">CLICK HERE TO SEE THOSE THAT HAVE COMMITED TO THE REVOLUTION!</p></a>
    <a href="/logout"><button type="submit" class="button">Logout</button></a>


</div>
