<div class="">
  <h1>THANX, YOU HAVE JUST SAVED A LIFE!</h1>
  <img id="thanksimage"src="image3.png">
</div>

<div class="sigdiv">
    <img src="{{ signature }}" alt="signature" id="signature">
</div>
