<div class="">
  <h1>THANX, YOU HAVE JUST SAVED A LIFE!</h1>
  <img id="thanksimage"src="image3.png">
</div>

<div class="sigdiv">
    <img src="{{ signature }}" alt="signature" id="signature">
    <a href="/logout"><button type="submit" class="button">Logout</button></a>
    <a href="/listOfPeople"><p> See all people who have singed the petition.</p></a>
</div>
