<div class="container">
  <h1 class="mb-3">THANX, YOU HAVE JUST SAVED A LIFE!</h1>
  <div class="thanksdiv1 col-md-12">
    <img class="col-md-8" id="thanksimage"src="image2.png">
  </div>

  <div class="sigdiv">
      <img class="col-md-7 mt-2 mb-2"src="{{ signature }}" alt="signature" id="signature">
       <input name="_csrf" value="{{csrfToken}}" type="hidden"> <!-- security feature -->
  </div>

  <div class="text-center">
      <a class="mb-2"href="/listOfPeople"><p id="thanks-text">View Signatures</p></a>
      <a href="/logout"><button type="submit" class="button">Logout</button></a>


  </div>

</div>
