* {
    background-color: grey;
}

.input {
    margin-bottom: 10px;
    display: block;
    height: 25px;
    background: blue;
    margin-left: 10px;
}
.maindiv {
    display: flex;
    justify-content: center;
}

.sigdiv {
    border: solid;
    background-color: white;
    width: 200px;
    height: 100px;
}
.Editdiv {
    display: flex;
    justify-content: center;
}
.editimages {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.listOfPeople {
    font-size: 20px;
    color: white;
    font-style: cursive;
}
.profdiv1 {
    display: flex;
    justify-content: center;
}
.profdiv {
    display: flex;
    justify-content: center;
}
#image5 {
    margin-bottom: 20px;
}

#image1 {
    box-shadow: 8px 8px black;
    margin-bottom: 20px;
    width: 70%;
    border: solid white 3px;
    height: 450px;
}
#image4 {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 100%;
    height: 70%;
}
#Lbutton {
    margin-bottom: 10px;
    position: relative;
    left: 60px;
}
h1 {
    text-shadow: 4px 4px black;
    texposition: relative;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
#canvas {
    border: solid black 2px;
    position: relative;
    align-content: center;
    background-color: white;
}
.button {
    border-radius: 5px;
    height: 40px;
    width: 85px;
    box-shadow: black 2px 2px;
}
#cbutton {
    position: relative;
    left: 50px;
    margin-top: 10px;
}

#regimage {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    position: relative;
}
#image9 {
    height: 250px;
}
#Rbutton {
    position: relative;
    left: 60px;
}
#Sbutton {
    position: relative;
    left: 10px;
    bottom: 55px;
}
#updatebutton {
    position: relative;
    left: 50px;
}
#signersh2 {
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px black;
}
.listOfPeople {
}
.register {
    display: flex;
    justify-content: center;
}
#thanksimage {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    position: relative;
}
#thanks-text {
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: white;
    text-decoration: white;
}
#signtext {
    text-shadow: 2px 2px black;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: white;
}
.formelements {
    display: block;
    position: relative;
}

.topdiv {
    display: flex;
    justify-content: center;
}
